.banner {
    /*
    background-image:url('http://farm4.staticflickr.com/3028/13078207904_5a782da278_b.jpg');
    background-image:url('http://farm4.staticflickr.com/3028/13078207904_5a782da278_b.jpg');
    */
    background-image:url('/images/us-hero4.jpg');
    height:616px;
}
header .btn.btn-nav-gtc {
    background-color:#ff7257;
}
