
## Compose and Docker compatibility matrix
#https://docs.docker.com/compose/compose-file/

## 安装Docker Compose
# curl -L https://github.com/docker/compose/releases/download/2.20.3/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
# chmod +x /usr/local/bin/docker-compose
# docker-compose --version
# docker-compose up -d

# ngrok http -subdomain=inconshreveable 80
# ngrok start -config ~/ngrok.yml -config ~/projects/example/ngrok.yml website ttcp

version: '2.4'
networks:
  nets:
    external: false

services:
  mylab2013:                
    container_name: mylab2013
    platform: linux/amd64
    image: chunhui2001/alpine:3.9.tomcat8.5
    hostname: mylab2013
    #mem_limit: 300m
    ports: 
      - 9000:8080
    entrypoint: ["/usr/local/tomcat/bin/catalina.sh", "run"]
    volumes:
      - ./conf/server.xml:/usr/local/tomcat/conf/server.xml:ro
      - ./war:/usr/local/tomcat/webapps/ROOT:ro
    restart: always
    networks:
      - nets
