.chFlickrFeeds .item {
    margin:.37em;
    float:left;
}
.chFlickrFeeds .mockup {
    width:180px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:100%;
}
.chFlickrFeeds .containe-wapper {
    float:left;
    height:220px;
}

