<?xml version="1.0" encoding="utf-8"?>
<c:page type="smoComPage" xmlns:c="http://com.snnmo.website">
  <c:title>Spring Roo</c:title>
  <c:column>
    <c:row>
      <c:cell margin="0 0 1em 0" float="none">
        <c:include sourceFrom="" type="chArticleHeader"
                   path="/components/articles/j2ee/Spring-Roo/chArticleHeader.xml" />
      </c:cell>
      <c:cell margin="0 0 1em 0" float="none">
        <c:include sourceFrom="" type="chSourceHighlighting"
                   path="/components/articles/j2ee/Spring-Roo/chSourceHighlighting.xml" />
      </c:cell>
      <c:cell margin="0 0 1em 0" float="none">
        <c:include sourceFrom="" type="chRelateds"
                   path="/components/articles/chRelateds.xml" />
      </c:cell>
    </c:row>
  </c:column>
</c:page>
