.clear {
  clear: both;
  float: none !important;
  width: 0;
  height: 0;
}

body {
  padding-top: 0;
  font-family: arial, sans-serif;
  line-height: 1.5em;
}

body .main-content {
  margin: auto;
  /*width:1170px;*/
  width: 100%;
}

a,
a:hover,
a:focus,
a:active {
  outline: 0 !important;
  text-decoration: none;
}

.entry-title > a {
  color: rgb(175, 0, 190);
}

.entry-title > a:hover {
  text-decoration: none;
}

@media (max-width: 1170px) {
  body .main-content {
    /*  width:98%;*/
    /*   margin-left:1%;
        margin-right:1%;*/
  }
}

a {
  color: #12a1f1;
  text-decoration: none;
}

a:hover {
  /* text-decoration:underline;*/
}

b {
  font-weight: bold;
}

h1 {
  font: 1.75em "Microsoft YaHei Light";
  padding: 0.625em 0;
  line-height: 1.2em;
}

h2 {
  font: 1.25em "Microsoft YaHei UI Light";
  padding: 0.625em 0;
}

h3 {
  font: 1.55em "arial,sans-serif";
  padding: 0.425em 0;
}

h6 {
  font-family: cursive;
}

.content-paragraph {
  margin-bottom: 2.5em;
  line-height: 1.525em;
}

.content-paragraph > p {
  margin: 0.825em 0;
}

.ch-table thead > tr {
  font-weight: bold;
  background-color: #5d5e60;
  color: white;
}

.ch-table tbody td,
.ch-table thead th {
  text-align: left;
  padding: 0 1.5em 0 0.3em;
}

.ch-table tbody > tr:nth-child(even) {
  background-color: #ccc;
}

tr th {
  font-weight: bold;
  color: black;
}

tr th,
tr td {
  padding: 0.3em 1em;
  padding-left: 0;
}

tr td:nth-child(1) {
  /*font-weight: bold;*/
}

#at4-share > a {
  opacity: 0.6;
}

#at4-share > a:hover {
  opacity: 1;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 10px;
  /*border-left: 4px solid #dc8844;
  font-size: 16px;
  color: #ca742f;*/
  padding: 2em;
  background-color: #f6f6f6;
  padding-left: 3em;
  position: relative;
}

blockquote:before {
    content: "";
    background-image: url(/images/icon/icon-quotation.svg);
    top: 18px;
    left: 18px;
    font-size: 24px;
    position: absolute;
    width: 13px;
    height: 9px;
    display: inline-block;
}

code {
    background-color: #f9f7f6;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    color:#333;
}

.col.main-content .chSourceHighlighting a:link {
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.35s;
}

.col.main-content .chSourceHighlighting a:hover {
  outline: 0;
  border-bottom: 2px solid #F40000;
  opacity: 1;
}

.col.main-content .chSourceHighlighting a {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    color: #428bca;
    border-style: inset;
}

